
<div class="header-card " ng-include src="'app/shared/locationDetailsCard.html'"></div>

<div class="header-card " ng-include src="'app/shared/searchCard.html'"></div>

	<div class="header-card " ng-include src="'app/shared/selectTme.html'"></div>
	<div class="buttons-container" >
	<div class="save-button" ng-click="x()">Search</div></div>
	
	<div style="clear: both;"></div>

<div ng-repeat="vehicleDetail in vehiclesDetails | orderBy: dynamicOrder: !order.ascending | filter: searchVendor | filter: searchMakeModel" ng-click="onVehicleClicked(vehicleDetail)">
	<div class="repeating-card" ng-include src="'app/shared/vehicleDetailCard.html'"></div>

</div>
	<div style="clear: both;"></div>


