<div ng-controller="dateTimeCtrl" class="round-edged header-details card-wrap">

	<div class="title-field-desc">
		Location Details
	</div>

	<div class="title-field-detail">
		Pick Up: Karlsplatz Stachus,Karlspl.1, 80335 München,Germany
	</div>

	<div class="title-field-detail">
		Drop Off: Munich Airport,Nordallee 25, 85356 München,Germany
	</div>

</div>